.flecha {
  position: absolute;
  right: 10px;
  padding: 10px;
  
}
.caracteristicas{
  display: flex;
  justify-content: space-around;
  padding: 15px;
}
.caract-title{
  margin-left: 35px;
}
.iconos img{
  width: 20px;
  color: #623cea;
  padding: 10px;
}
.celda{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.block h4{
  padding-left: 10px;
}
.producto-img{
  width: 150px;
  padding: 25px;
  
}

/* Estilos para pantallas medianas */
@media (max-width: 767px) {
  .caracteristicas{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    padding: 15px;
  }
  .celda{
    display: flex;
    align-items: center;
    justify-content:stretch;
  }
}

/* Estilos para pantallas pequeñas */
@media (max-width: 576px) {
  
}