.color-primario {
    background-color: #623CEA;
  }
  .registerForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    width: 100vw;
    height: 350px;
  }