.formulario {
  /* height: 100vh; */
}
.product-form {
  margin: 25px;
  display: flex;
  flex-direction: column;
  
}
label {
  padding: 5px;
}
.btn-form {
  background-color: #623cea;
  color: #ebebeb;
  margin: 20px;
}
.btn-form:hover {
  background-color: #ebebeb;
  color: #623cea;
}
.mensaje-de-advertencia{
  display: none;
}
/* Mostrar un mensaje si el tamaño de la pantalla está por debajo de 600px */
@media (max-width: 600px) {
  /* Aquí puedes definir estilos o reglas de visualización para el mensaje */
  .mensaje-de-advertencia {
    display: block; /* Mostrar el mensaje */
    color: red;
    margin: 25px;

  }
  .menu{
      display: none;
  }
}